.CardColumn {
    /* max-height: 100vh; */
    /* overflow-y: auto; */
    background: var(--off_white);
}

.columnHeader {
    padding: 20px;
}


.columnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.cardCounter {
    background: #e8eef3;
    padding: 10px;
}


.cardsContainer::-webkit-scrollbar-track {
    border-radius: 50px !important;
    border: 0.1px solid #bbbbbb;
    overflow: hidden;
}

.cardsContainer::-webkit-scrollbar {
    width: 10px;
    border-radius: 50px !important;
    background: #e3e3e3;
    overflow: hidden;
    cursor: pointer;
}

.cardsContainer::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 50px !important;
    background: #006cb4;
}

.columnHeader>p {
    margin: 0;
    border-radius: 5px;
}

.cardsContainer {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 420px;
    align-items: center;
    gap: 20px;
}